html {
	background-color:green;
	color:white;
    display:block;
    position:relative;
    box-sizing:border-box;
}

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    position:relative; 
}

.container{
    max-width:1000vh;
    margin:auto;
}

footer {
    justify-content:center;
    display:block; width:100%;
    bottom:0; position:fixed;
    text-align:center;
    background-color:rgb(67, 141, 116);
    height:7.9em;
    margin:0; padding:0;
    border-top:3.5px solid red;
}

input[type=image] {
    padding:5px;
    height:40px; width:auto;
    position:absolute;
    top:52%;
    left:4%;
    font-weight:bold;
}

input[type=image]:hover {
    transform:scale(1.3);
    background-color:#DBDB45;
    border-radius:3px;
}

input[type=image]:focus {
    transform:scale(1.3);
    background-color:#DBDB45;
    border-radius:3px;
}

.copyright {
    position:absolute;
    top:80%;
    font-family:'TImes New Roman';
    font-size:0.9em;
}

h2 {
    text-align:center;
}

p {
    width:100%;
    font-weight:bold;
    font-size:1.3em;
    text-align:center;
}

#scoreSpan {
    color:yellow;
    font-size:1.15em;
}

.game {
    width: 500px;
    height: 200px;
    border: 5px solid black;
    margin: auto;
}

#character {
    width: 20px;
    height: 50px;
    background-color: red;
    position:relative;
    top: 150px;
}

.animate {
    animation: jump 0.3s linear;
}
@keyframes jump {
    0% {
        top: 150px;
    }

    30% {
        top: 100px;
    }

    70% {
        top: 100px;
    }
    100% {
        top: 150px;
    }
}

#block {
    background-color: blue;
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear;
}
@keyframes block {
    0% {
        left: 500px
    }

    100% {
        left: -20px
    }
}