* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh
}

body {
    background-image: linear-gradient(to bottom, #000000, #4643A3);
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

header {
    background-color: #070643;
    box-shadow: #000000 0px 3px 5px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #FFFFFF;
    font-family: 'Platinum Sign Over';
    font-size: 50px;
    text-shadow: #6DD5DC 0px 3px 5px;
}

div {
    padding-top: 150px;
}

input[type="text"], input[type="password"] {
    color: #242C2C;
    font-family: 'Microsoft YaHei';
    font-size: 20px;
    width: 500px;
    height: 50px;
    border:none;
    border-radius: 20px;
    box-shadow: #6DD5DC 0px 3px 5px;
    padding-left: 20px;
}

footer {
    background-color: #070643;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    overflow: visible;
    padding-bottom: 100px;
    height: 110px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: #000000 0px -3px 5px;
    z-index: 100;
    position: fixed;
    bottom: 0;
}

.logo {
    transform: scale(2.5);
    padding-top: 30px;
}

.skull {
    transform: scale(5);
    padding-right: 70px;
    padding-top: 90px;
    z-index: -100;
}

.triangle1 {
    transform: scale(3);
    transform:translateY(-20px);
}

.triangle2 {
    transform:translateY(-2px);
}

.normal {
    text-decoration: none;
    color: #000000;
}

.normal:hover {
    color: #000000;
}

.play-button {
    width: 200px;
    height: 50px;
    font-family: 'Platinum Sign Over';
    font-size: 20px;
    background-color: #FFFFFF;
    color: #000000;
    box-shadow:#6DD5DC 0px 3px 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.play-button:hover {
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
    background-color:#DBDB45;
    position: relative;
}

.play-button:focus {
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
    background-color:#DBDB45;
    position: relative;
}

.P {
    color: #FFFFFF;
    font-family: 'Platinum Sign Over';
    font-size: 15px;
    text-shadow: #6DD5DC 0px 3px 5px;
}

.section {
    padding-left: 50px;
}